* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

footer, header, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-bar {
  width: 100%;
  height: 6.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
}
.header-bar-btns {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
}
.header-bar-theme-btn {
  display: block;
}

.header-burger-logo {
  display: none;
}

.header-bar-x-icon {
  display: none;
}

.header-bar-theme-btn-desk {
  display: none;
}

.header-nav.menu-open .header-bar-burger-icon {
  display: none;
}

.header-nav.menu-open .header-bar-x-icon {
  display: block;
}

.header-nav.menu-open .header-burger {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.header-burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
  gap: 4.3rem;
  padding: 6rem 0;
  position: fixed;
  top: 6.4rem;
  left: 0;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  transition: transform 0.35s ease, opacity 0.35s ease;
}
.header-burger.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.header-burger-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  gap: 3.5rem;
  width: 15rem;
}
.header-burger-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  font-size: 1.6rem;
  gap: 2.8rem;
}
.header-burger-sign-btn {
  width: 15.3rem;
  height: 5.4rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #000000;
  color: white;
  font-weight: 600;
}
.header-burger-sign-desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  gap: 2.8rem;
}

@media (min-width: 768px) {
  .header-bar-logo, .header-bar-theme-btn, .header-bar-burger-icon, .header-bar-x-icon {
    display: none;
  }
  .header-bar-theme-btn-desk {
    display: block;
  }
  .header-burger {
    position: static;
    transform: none;
    opacity: 1;
    pointer-events: auto;
    height: auto;
    padding: 0;
    flex-direction: row;
    gap: 4rem;
    background: none;
    justify-content: space-between;
  }
  .header-burger-logo {
    color: white;
    margin-left: 1rem;
  }
  .header-burger-links {
    color: white;
  }
  .header-burger-sign-desk {
    color: white;
  }
  .header-burger-sign-btn {
    background-color: white;
    color: black;
    margin-right: 1rem;
  }
  .header-burger-links,
  .header-burger-sign {
    flex-direction: row;
    width: auto;
    gap: 6rem;
    font-size: 1.6rem;
  }
  .header-bar {
    display: none;
  }
  .header-nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-nav-box {
    padding: 2.4rem 1.6rem;
    background-color: #052A44;
    width: 124rem;
    border-radius: 1.2rem;
    margin-top: 5rem;
  }
  .header-burger-logo {
    font-size: 2rem;
    display: block;
  }
  .header-burger-sign {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-bar-theme-btn-desk {
    padding-top: 0.5rem;
  }
  .header-burger-sign-desk {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}

/*# sourceMappingURL=header.css.map */
