html {
    font-size: 62.5%;
}
$card-bg: rgba(255, 255, 255, 1);
$radius: 1.6rem;
$main-title-text-color: rgba(0, 0, 0, 1);
$subtitle-text-color: rgba(7, 18, 16, 1);
$box-shadow: rgba(0, 0, 0, 0.08);
$mob-main-titl-color: rgba(24, 59, 86, 1);

.main-about {
    max-width: 144rem;
    margin: 3.2rem 2.8rem 2.6rem 2.8rem;

}
.about-container {
    max-width: 116.1rem;
    margin: 0 auto;
    position: relative;
}
.about-container::before {
    content: "";
    position: absolute;
    border: 0.6rem solid $mob-main-titl-color;
    border-top: 0.6rem solid transparent;
    border-radius: 50%;
    position: relative; 
    width: 12rem;
    height: 12rem;
    bottom: -4rem;
    left: -4rem;
}

.about-header {
    text-align: center;
    margin-bottom: 4rem;
    .section-title-h2 {
        color: $mob-main-titl-color;
        font-size: clamp(3.6rem, 5vw, 4.2rem);
        font-weight: 400;
        padding: 2rem;
    }
    .section-subtitle-p {
        font-size: 1.6rem;
        color: $subtitle-text-color;
        font-weight: 400;
    }
}
.about-cards-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2.6rem; 
  
}
.about-card {
    max-width: 26.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;;
    background-color: $card-bg;
    border-radius: clamp(1.139rem, 2.5vw, 1.6rem);
    box-shadow: 1.42px 2.85px 27.04px 0px rgba(0, 0, 0, 0.08);
}
.card-icon {
    display: flex;
    transform: translateY(-50%);
}
.card-title-h3 {
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: clamp(1.8rem, 1.8vw, 2.2rem);
    text-align: center;
    gap: 1.06rem;
}
.card-text-p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.7rem;
    padding: 2rem;
    line-height: 180%;
    color: $subtitle-text-color;
    margin-bottom: 4.81rem;
    flex-direction: column;
}

@media (min-width: 76.8rem) {
    .about-container::before {
        display: none;
    } 
}
    
@media (max-width: 102.4rem) {
    .about-cards-wrapper {
        flex-direction: row;     
        justify-content:space-between;     
}     
    .about-card {
        max-width: 32rem;
    }
}