


// START: About, Services, Stories Sections - (Julie)
@use "./base/reset";
@use "./base/fonts";
@use "./layouts/about";
@use "./layouts/services";
@use "./layouts/stories";
@use "./abstracts/variables";
@use "./abstracts/mixins";
// END: My sections

@use "./layout/header";
@use "./layout/main-hero";
@use "./layout/contact";
@use "./layout/reviews";

@use "./layout/footer";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



html{
    font-size: 62.5%;
}


footer, header, nav, section, main{
  display: block;
}

ol, ul{
  list-style: none;
}



