$title-color: #183B56;
$desc-color: #5A7184;
$btn-color: #052A44;
$form-color: #E8DB84;
$card-bg: rgba(255, 255, 255, 1);
$radius: 1.6rem;
$main-title-text-color: rgba(0, 0, 0, 1);
$subtitle-text-color: rgba(7, 18, 16, 1);
$box-shadow: rgba(0, 0, 0, 0.08);
$mob-main-titl-color: rgba(24, 59, 86, 1);
$font-primary: "Plus Jakarta Sans", sans-serif;
$font-secondary: "Poppins", sans-serif;
$btn-bg-color: rgba(5, 42, 68, 1);
$hero-title-color: #E8DB84;
$page-primary-color: #052A44;
